<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771295960232-h3f958nup01g530b85547ct7665n397q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771295960232-h3f958nup01g530b85547ct7665n397q</string>
	<key>API_KEY</key>
	<string>AIzaSyCpPD3u8XXDK8jfC1g7CWcQ7d41gDBKMTI</string>
	<key>GCM_SENDER_ID</key>
	<string>771295960232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tappollo.mercy</string>
	<key>PROJECT_ID</key>
	<string>mercy-b94dd</string>
	<key>STORAGE_BUCKET</key>
	<string>mercy-b94dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771295960232:ios:b0e0de0f60198ed8</string>
	<key>DATABASE_URL</key>
	<string>https://mercy-b94dd.firebaseio.com</string>
</dict>
</plist>