service cloud.firestore {
  match /databases/{database}/documents {
    function userLoggedIn() {
      return request.auth != null
    }
    function isMe(userId) {
      return userLoggedIn() && request.auth.uid == userId
    }
    function isAdmin() {
      return false
    }
    match /users/{userId} {
      allow read;
      allow write: if isMe(userId)
      match /devicesToken/{deviceId} {
        allow read, write: if isMe(userId)
      }
    }
    match /conversations/{conversationId} {
        allow read: if userLoggedIn() && request.auth.uid in resource.data.userIds
        function isListedInChat() {
          return userLoggedIn()
            && request.auth.uid in get(/databases/$(database)/documents/conversations/$(conversationId)).data.userIds
        }
        match /messages/{messageId} {
            allow read, create: if isListedInChat()
        }
    }
  }
}
