service cloud.firestore {
  match /databases/{database}/documents {
    function userLoggedIn() {
      return request.auth != null
    }
    function isMe(userId) {
      return userLoggedIn() && request.auth.uid == userId
    }
    function isAdmin() {
      return false
    }

    match /profile/{userId} {
      allow read;
      allow write: if isMe(userId)
    }
    match /private/{userId} {
      allow read, write: if isMe(userId)
    }
    match /readonly/{userId} {
      allow read: if isMe(userId)
    }
  }
}
