<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>771295960232-scsegspctctce3n4v1is40r1lgivg1ta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771295960232-scsegspctctce3n4v1is40r1lgivg1ta</string>
	<key>API_KEY</key>
	<string>AIzaSyCpPD3u8XXDK8jfC1g7CWcQ7d41gDBKMTI</string>
	<key>GCM_SENDER_ID</key>
	<string>771295960232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mercy</string>
	<key>PROJECT_ID</key>
	<string>mercy-b94dd</string>
	<key>STORAGE_BUCKET</key>
	<string>mercy-b94dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771295960232:ios:3135f1ba776c4086</string>
	<key>DATABASE_URL</key>
	<string>https://mercy-b94dd.firebaseio.com</string>
</dict>
</plist>