<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127334071631-3pgjcjfnk84lvl6j09kb4v5afuitg4qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127334071631-3pgjcjfnk84lvl6j09kb4v5afuitg4qo</string>
	<key>API_KEY</key>
	<string>AIzaSyD8sPV36AgVC-T61p8eQCTi3R3izD-tW3U</string>
	<key>GCM_SENDER_ID</key>
	<string>127334071631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tappollo.mercy</string>
	<key>PROJECT_ID</key>
	<string>mercy-f16ad</string>
	<key>STORAGE_BUCKET</key>
	<string>mercy-f16ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127334071631:ios:f3dc10374cc7d8edfad93a</string>
	<key>DATABASE_URL</key>
	<string>https://mercy-f16ad.firebaseio.com</string>
</dict>
</plist>